<!DOCTYPE html>
<html>

  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="dist/js/selectiv.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/css/selectiv.css">

    <style>
      button[type="submit"] {
        margin-top: 10px;
        width: 100px;
        height: 30px;
      }
      body {
        font: normal 14px 'Open Sans', sans-serif;
        padding: 15px;
      }
      form {
        width: 40%;
      }
    </style>
  </head>


  <body>
    <form id="tags-example" target="_blank" action="submit.html">
      <p>Tags example:</p>
      <ul>
        <li>Type something and press <kbd>enter</kbd>, <kbd>tab</kbd>, or <kbd>comma</kbd> to add it.</li>
        <li>Press <kbd>left</kbd> or <kbd>right</kbd> to move cursor position.</li>
        <li>Press backspace to delete a tag.</li>
      </ul>
      <span class="select-value">{{ formInputName }}={{ selectedValues }}</span>
      <selectiv
        is-multiple
        placeholder="Type something"
        allow-new
        value-delimiter=","
        :name="formInputName"
        :selected="selected"
        :has-autocomplete="false"
        @change="onChange"
      ></selectiv>
      <button type="submit">Submit</button>
    </form>
    <script>
      new Vue({
        el: '#tags-example',
        data: {
          selected: 'basketball,football,baseball',
          // this also works:
          // selected: ['basketball', 'football', 'baseball'],
          selectedValues: [],
          formInputName: 'tags'
        },
        methods: {
          onChange: function(values) {
            this.selectedValues = values
          }
        }
      })
    </script>

    <hr>

    <form id="multi-example" target="_blank" action="submit.html">
      <p>Multi-select with autocomplete example:</p>
      <ul>
        <li>Press <kbd>down</kbd> to show autocomplete, <kbd>esc</kbd> to close it.</li>
        <li>Options passed in as objects, [{{ optionObjects[0] }}, ...].</li>
        <li>"No results" displayed when searching for something not on the list.</li>
        <li>Press <kbd>left</kbd> or <kbd>right</kbd> to move cursor position.</li>
      </ul>
      <span class="select-value">{{ formInputName }}={{ selectedValues }}</span>
      <selectiv
        is-multiple
        restore-on-backspace
        placeholder="Type something"
        :name="formInputName"
        :options="optionObjects"
        @change="onChange">
      </selectiv>
      <button type="submit">Submit</button>
    </form>
    <script>
      new Vue({
        el: '#multi-example',
        data: {
          optionObjects: (function() {
            var optionStrings = ['basketball', 'football', 'tennis', 'cricket', 'volleyball', 'soccer', 'table tennis']
            return optionStrings.map(function(o) {
              return { text: o, value: 'id_' + Math.round(Math.random() * 1000) }
            })
          })(),
          selectedValues: [],
          formInputName: 'items[]'
        },
        methods: {
          onChange: function(values) {
            this.selectedValues = values
          }
        }
      })
    </script>

    <hr>

    <form id="custom-multi-example" target="_blank" action="submit.html">
      <p>Multi-select example:</p>
      <ul>
        <li>Custom autocomplete options template.</li>
        <li>Custom selected options template.</li>
        <li>Custom "No results".</li>
      </ul>

      <span class="select-value">{{ formInputName }}={{ selectedValues }}</span>
      <selectiv
        is-multiple
        search-value
        placeholder="Type something"
        :name="formInputName"
        :options="emailList"
        options-text="name"
        options-value="email"
        @change="onChange">
        <template slot="selectedOption" scope="props">
          <span class="option-text" v-html="formatOption(props)"></span>
        </template>
        <template slot="option" scope="props">
          <div v-html="props.textMarked"></div>
          <small v-html="props.valueMarked"></small>
        </template>
        <span slot="noResults" class="no-results">Email not found</span>
      </selectiv>
      <button type="submit">Submit</button>
    </form>
    <script>
      new Vue({
        el: '#custom-multi-example',
        data: {
          emailList: [{name: 'Jay E', email: 'jay@nerdcave.com'}, {name: 'Mike B', email: 'mike@example.com'}, {name: 'Tommy C', email: 'tommy@something.net' }, { name: 'Jimmy D', email: 'james@whatever.org'}],
          selectedValues: [],
          formInputName: 'emails[]'
        },
        methods: {
          onChange: function(values) {
            this.selectedValues = values
          },
          formatOption: function(props) {
            return props.text.slice(0, props.text.indexOf(' ')) + ' &lt;'+ props.value + '&gt;'
          }
        }
      })
    </script>

    <hr>

    <form id="single-example" target="_blank" action="submit.html">
      <p>Single select example:</p>
      <ul>
        <li>Single select options passed in as strings ['{{ options[0] }}', ...].</li>
        <li>Initialized with a selected value.</li>
        <li>Specifying a placeholder allows selected option to be cleared.</li>
      </ul>
      <span class="select-value">{{ formInputName }}={{ selectedValues }}</span>
      <selectiv
        :name="formInputName"
        placeholder="Choose one..."
        :options="options"
        :selected="selected"
        @change="onChange"
      ></selectiv>
      <button type="submit">Submit</button>
    </form>
    <script>
      new Vue({
        el: '#single-example',
        data: {
          options: ['basketball', 'football', 'tennis', 'cricket', 'volleyball', 'soccer', 'table tennis'],
          selected: 'tennis',
          selectedValues: [],
          formInputName: 'sport'
        },
        methods: {
          onChange: function(values) {
            this.selectedValues = values
          }
        }
      })
    </script>



    <div id="all-options-example">
      <p>All options example:</p>
      Value: {{ selectedValues }}
      <form action="submit.html">
        <selectiv
          :name="formFieldName"
          :is-multiple="isMultiple"
          :options="options"
          :allow-new="allowNew"
          :placeholder="placeholder"
          :value-delimiter="valueDelimiter"
          :restore-on-backspace="restoreOnBackspace"
          :has-remove-button="hasRemoveButton"
          new-value-format="<<<%value%>>>"
          @change="onChange"
        ></selectiv>
        <button type="submit">Submit</button>
      </form>

      <input type="radio" id="use_single" :value="false" v-model="isMultiple">
      <label for="use_single">Single</label>
      <br>
      <input type="radio" id="use_multiple" :value="true" v-model="isMultiple">
      <label for="use_multiple">Multiple</label>
      <br>

      <input type="radio" id="use_string_options" :value="optionStrings" v-model="options">
      <label for="use_string_options">String options</label>
      <br>
      <input type="radio" id="use_object_options" :value="optionObjects" v-model="options">
      <label for="use_object_options">Object options</label>

      <br>
      <input type="checkbox" id="use_placeholder" v-model="usePlaceholder">
      <label for="use_placeholder">Placeholder</label>
      <input type="text" v-model="placeholderValue" :disabled="!usePlaceholder">


      <br>
      <input type="checkbox" id="allow_new" v-model="allowNew">
      <label for="allow_new">Allow New</label>

      <br>
      <input type="checkbox" id="restore_on_backspace" v-model="restoreOnBackspace">
      <label for="restore_on_backspace">Restore on backspace</label>

      <br>
      <input type="checkbox" id="has_remove_button" v-model="hasRemoveButton">
      <label for="has_remove_button">Has remove button</label>

      <br>
      <input type="checkbox" id="delimiter" v-model="valueDelimiter" true-value="," false-value="">
      <label for="delimiter">Delimiter</label>
    </div>

    <script>
      var optionStrings = ['basketball', 'football', 'tennis', 'cricket', 'volleyball', 'soccer', 'table tennis']
      var vmApp = new Vue({
        el: '#all-options-example',
        props: ['testing'],
        data: {
          optionStrings: optionStrings,
          optionObjects: (function() {
            return optionStrings.map(function(o) {
              return { text: o, value: 'id_' + Math.round(Math.random() * 1000) }
            })
          })(),
          options: optionStrings,
          isMultiple: true,
          useStringOptions: false,
          usePlaceholder: true,
          placeholderValue: 'Choose option...',
          allowClear: true,
          allowNew: false,
          selectedValues: [],
          restoreOnBackspace: false,
          hasRemoveButton: false,
          formFieldName: 'items',
          valueDelimiter: ''
        },
        computed: {
          placeholder: function() {
            return this.usePlaceholder ? this.placeholderValue : ''
          }
        },
        methods: {
          onChange: function(values) {
            this.selectedValues = values
          }
        }
      })

    </script>
  </body>
</html>